@font-face{ font-family: 'AppTitle'; src: url('fonts/LilitaOne-Regular.ttf');}
@font-face{ font-family: 'Title'; src: url('fonts/FrancoisOne.ttf');}
@font-face{ font-family: 'TextoCuerpo'; src: url('fonts/HindSiliguri-Regular.ttf');}
@font-face{ font-family: 'ManoAlzada'; src: url('fonts/KaushanScript-Regular.ttf');}
@font-face{ font-family: 'ManoAlzada2'; src: url('fonts/PatrickHand-Regular.ttf');}
@font-face{ font-family: 'ManoAlzada3'; src: url('fonts/MarckScript-Regular.ttf');}
@font-face{ font-family: 'MonoEspaciado'; src: url('fonts/RobotoMono-Regular.ttf');}
body
{
    color: rgb(108,0,6);
    font-family: TextoCuerpo;
}
#pageHeader
{
    padding: 10px;
}
#pageNav
{
    background-color: rgb(108,0,6);
    color: rgb(255,229,229);
}
#pageBodyContainer
{
    min-height: 100%;
}
#pageSuperBodyContainer
{
    position: absolute;
    width: 100%;
}
#pageFooter
{
    background-color: rgb(108,0,6);
    color: rgb(255,229,229);
    position: absolute;
    width: 100%;
}
#pageFooter section
{
    text-align: center;
}
#pageHeader h1, #pageHeader h2, #pageHeader h3, #pageHeader h4, #pageHeader h5, #pageHeader h6
{
    font-family: 'AppTitle';
}
h1, h2, h3, h4, h5, h6
{
    font-family: 'Title';
}
#siteTitle
{
    display: inline-block;
}
#pageHeader a { color: inherit; text-decoration: none; }
#barraNavegacion
{
    background-color: transparent;
    border: transparent;
    margin: 0px;
}
#barraNavegacion li.active a
{
    background-color: rgb(255,229,229);
    color: rgb(108,0,6);
}
#barraNavegacion li a
{
    color: rgb(255,229,229);
}
#barraNavegacion h1, #barraNavegacion h2, #barraNavegacion h3, #barraNavegacion h4, #barraNavegacion h5, #barraNavegacion h6
{
    margin: 0px;
    color: rgb(255,229,229);
}
#barraNavegacion li.active a h1, #barraNavegacion li.active a h2, #barraNavegacion li.active a h3, #barraNavegacion li.active a h4, #barraNavegacion li.active a h5, #barraNavegacion li.active a h6
{
    color: rgb(108,0,6);
}
#pageGlobalHeader
{
     position: fixed; 
     left: 0px; 
     right: 0px;
     z-index: 1029;
}
#pageBody
{
    
}
#pageASide
{
    
}
.frmacceso
{
    margin: 50px auto 0px;
    padding: 35px;
    background-color: rgba(255,255,255,0.5);
    width: 300px;
}
.frmacceso_logo
{
    background-color: rgb(108,0,6);
    margin-bottom: 25px;
}